@model IEnumerable<TajGaraj.Models.Part>

<h2>Parts</h2>

<table class="table">
    <thead>
        <tr>
            <th>Part ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model)
        {
            <tr>
                <td>@part.ID</td>
                <td>@part.Name</td>
                <td>@part.Description</td>
                <td>@part.Location</td>
            </tr>
        }
    </tbody>
</table>